<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" type="text/css" href="/static/style/student.css">
</head>
<body>
<div class="container">
    <h1>My Profile</h1>
    <div class="student-profile">
        <img src="/static/images/{{ profile.id }}.webp" alt="Profile photo">
        <div class="student-info">
            <h2>ID: {{ profile.id }}</h2>
            <p><strong>Full Name:</strong> {{ profile.first_name }} {{ profile.last_name }}</p>
            <p><strong>Email:</strong> {{ profile.email }}</p>
            <p><strong>Password in Hash:</strong> {{ profile.password }}</p>
        </div>
    </div>
    <button type="submit" id="logout-button" class="submit-button" onclick="logoutFunction()">Logout</button>
</div>
<script src="/static/js/script.js"></script>
</body>
</html>
